---
import PageHeader from "../components/PageHeader.astro";
import ContactForm from "../components/ContactForm.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="contact">
  <PageHeader title="get in touch" bgText="contact" />
  <div class="flex flex-col md:flex-row mt-8 justify-evenly p-4 gap-6">
    <div class="w-full md:w-1/3">
      <h2 class="text-2xl font-bold">Hello</h2>
      <p class="mt-4">
        Feel free to get in touch with me. I am always open to new projects,
        creative ideas or opportunities to be part of your visions.
      </p>
      <div class="flex flex-col mt-4 gap-4">
        <div class="flex items-center gap-4">
          <Icon
            name="MaterialSymbolsLightMap"
            class="text-4xl text-amber-400"
          />
          <div>
            <h3 class="text-zinc-600 bold">Location</h3>
            <p>Egypt</p>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <Icon name="MingcuteMailOpenFill" class="text-4xl text-amber-400" />
          <div>
            <h3 class="text-zinc-600 bold">Mail Me</h3>
            <p>khaledfarahat82@gmail.com</p>
          </div>
        </div>
        <div class="flex items-center gap-4">
          <Icon
            name="MaterialSymbolsCallSharp"
            class="text-4xl text-amber-400"
          />
          <div>
            <h3 class="text-zinc-600 bold">Call Me</h3>
            <p>+201113411222</p>
          </div>
        </div>
      </div>
      <ul class="flex gap-1 mt-4">
        <li
          class="w-8 h-8 p-2 rounded-full bg-zinc-700 flex justify-center items-center"
        >
          <a
            href="https://www.linkedin.com/in/khaled-farahat-7b0b0b1b4/"
            target="_blank"
            class="flex items-center gap-4"
          >
            <Icon name="BrandicoLinkedin" class="text-l" />
          </a>
        </li>
        <li
          class="w-8 h-8 p-2 rounded-full bg-zinc-700 flex justify-center items-center"
        >
          <a href="" target="_blank" class="flex items-center gap-4">
            <Icon name="Fa6BrandsXTwitter" class="text-l" />
          </a>
        </li>
        <li
          class="w-8 h-8 p-2 rounded-full bg-zinc-700 flex justify-center items-center"
        >
          <a href="" target="_blank" class="flex items-center gap-4">
            <Icon name="BxlFacebook" class="text-l" />
          </a>
        </li>
      </ul>
    </div>
    <hr />
    <div class="w-full md:w-2/3">
      <ContactForm />
    </div>
  </div>
</Layout>
