---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import profilePic from "../assets/profile2.png";
import { Icon } from "astro-icon/components";
---

<Layout title="Khaled Portfolio">
  <div
    class="flex flex-col md:mt-16 md:flex-row md:pl-8 justify-center md:justify-between lg:justify-evenly gap-6 main"
  >
    <div class="flex justify-center items-center">
      <figure class="h-[500px] w-[310px]">
        <Image src={profilePic} alt="hero" class="rounded-lg w-full h-full" />
      </figure>
    </div>
    <div class="flex flex-col justify-center items-center gap-3">
      <h1 class="text-4xl font-bold text-amber-400">Khaled Mostafa</h1>
      <p class="text-lg font-bold">Full Stack Developer</p>
      <p class="text-md text-center max-w-[500px]">
        I am a full stack developer with 3 years of experience in web
        development. I have a passion for learning and sharing my knowledge with
        others a public speaker and a blogger.
      </p>
      <div class="flex gap-4">
        <div
          class="flex items-center gap-3 border relative border-amber-500 rounded-3xl pl-4 self-end cursor-pointer
                before:h-full before:w-0 before:block before:absolute before:bg-amber-500 before:-z-10 before:right-0 before:top-0 before:transition-all hover:before:w-full
                before:rounded-3xl"
        >
          <p>Download CV</p>
          <div
            class="w-10 h-10 rounded-full bg-amber-500 p-3 flex justify-center items-center"
          >
            <Icon name="IcRoundDownload" class="text-2xl" />
          </div>
        </div>
        <div
          class="flex items-center gap-3 border relative border-amber-500 rounded-3xl pl-4 self-end cursor-pointer
                before:h-full before:w-0 before:block before:absolute before:bg-amber-500 before:-z-10 before:right-0 before:top-0 before:transition-all hover:before:w-full
                before:rounded-3xl"
        >
          <p>Projects</p>
          <div
            class="w-10 h-10 rounded-full bg-amber-500 p-3 flex justify-center items-center"
          >
            <Icon name="IcBaselineArrowForward" class="text-2xl" />
          </div>
        </div>
      </div>
    </div>

    <style>
      @media (max-width: 950px) {
        .main {
          gap: 50px;
        }
      }

      @media (min-width: 767px) and (max-width: 950px) {
        .main {
          gap: 20px;
        }

        .main h1 {
          font-size: 2rem;
        }
      }
    </style>
  </div>
</Layout>
