---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import profilePic from "../assets/profile2.png";
---

<Layout title="Khaled Portfolio">
  <div
    class="flex flex-col md:flex-row md:pl-8 justify-center md:justify-between lg:justify-evenly gap-6 main"
  >
    <div class="flex justify-center items-center">
      <figure class="h-[500px] w-[310px]">
        <Image src={profilePic} alt="hero" class="rounded-lg w-full h-full" />
      </figure>
    </div>
    <div class="flex flex-col justify-center items-center gap-3">
      <h1 class="text-4xl font-bold text-amber-400">Khaled Mostafa</h1>
      <p class="text-lg font-bold">Full Stack Developer</p>
      <p class="text-md text-center max-w-[500px]">
        I am a full stack developer with 3 years of experience in web
        development. I have a passion for learning and sharing my knowledge with
        others a public speaker and a blogger.
      </p>
      <div class="flex space-x-4">
        <a href="https://twitter.com/khaled_garbaya" class="text-blue-500"
          >Twitter</a
        >
        <a
          href="https://www.linkedin.com/in/khaledgarbaya/"
          class="text-blue-500">Linkedin</a
        >
      </div>
    </div>
  </div>

  <style>
    @media (max-width: 950px) {
      .main {
        gap: 50px;
      }
    }

    @media (min-width: 767px) and (max-width: 950px) {
      .main {
        gap: 20px;
      }

      .main h1 {
        font-size: 2rem;
      }
    }
  </style>
</Layout>
