---
import { Icon } from "astro-icon/components";

interface Props {
  iconName: string;
  label: string;
}

const { iconName, label } = Astro.props;
---

<!-- <Icon name="IcRoundHome" /> -->
<div
  class="group flex items-center justify-start flex-row-reverse hover:bg-amber-400 text-white rounded-full cursor-pointer transition px-1 pl-2 w-fit"
>
  <div
    class="flex items-center justify-center w-8 h-8 rounded-full bg-gray-500 group-hover:bg-amber-400 transition px-1"
  >
    <Icon name={iconName} class="text-xl" />
  </div>
  <p class="opacity-0 group-hover:opacity-100">{label}</p>
</div>
