---
import Sidebar from "../components/Sidebar.astro";
import BottomNav from "../components/BottomNav.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="bg-neutral-900 flex flex-col h-screen text-white "
  >
    <div class="flex-1 grid grid-cols-10 lg:grid-cols-8">
      <!-- Main Content Area -->
      <div
        class="p-4 mb-[105px] md:mb-0 md:mr-[105px] col-span-10 md:col-span-10 lg:col-span-8"
        transition:animate="slide"
      >
        <slot />
      </div>
      <!-- Sidebar -->
      <div
        class="hidden md:flex bg-transparent h-full text-white
        fixed top-0 right-0 bottom-0 z-10"
      >
        <Sidebar />
      </div>
      <!-- Bottom Navigation -->
      <div class="col-span-8 md:hidden fixed bottom-0 left-0 right-0 z-10">
        <BottomNav />
      </div>
    </div>
  </body>
</html>
<style is:global></style>
